<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/StyleSheet/style.css">
    
</head>
<body>
    <h1>Hello, every one I'm rohan pandey</h1>
    <script src="/javaScripts/script.js"></script>
    <%= age %>
</body>
</html>