<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circle Cursor</title>
    <link rel="stylesheet" href="/StyleSheet/ProfileStyle.css">
  </head>
  <body>
    <section class="sectionTidyScroll" id="section1">
      <h2>100% bio potatos</h2>
      <p>here project description</p>
    </section>
    <section class="sectionTidyScroll" style="background: #e67e22">
      <div>
        <h2>Quality Superior</h2>
        <p>Our potatoes are of superior quality!</p>
      </div>
      <img src="https://cdn.pixabay.com/photo/2018/01/22/12/35/potatoes-3098865_1280.png"/>
    </section>
    <section class="sectionTidyScroll" style="background: #16a085">
      <div>
        <h2>100% bio</h2>
        <p>Our potatoes are 100% bio and natural!</p>
      </div>
      <img src="https://cdn.pixabay.com/photo/2023/08/08/08/59/tree-8176812_1280.png"/>
    </section>
    <section class="sectionTidyScroll" style="background: #2980b9">
      <div>
        <h2>Reasonable price</h2>
        <p>0.3$ a potatoe! Super price!</p>
      </div>
      <img src="https://cdn.pixabay.com/photo/2016/05/29/01/17/special-offer-1422378_960_720.png"/>
    </section>
    <div id="scrollTidy">Tap ro scroll</div>
  </body>
</html>